*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
:root{
    --primary-color:#FD6E0A;
}
.nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.nav-title span{
    color: var(--primary-color);
}